<h1> Collaborators </h1>

    <%# add an each loop again for list of all users tochoose from, in order to "add"  to  the  wiki %>
    <ul>
      <% @users.all.each do |user| %> 
        <li>
          <%if current_user %>
            <%= user.email %>
            <%= @wiki = Wiki.find(params[:wiki_id]) %> 
            <%= link_to 'Add', new_wiki_collaborator_path(@wiki,collaborator , user_id: current_user.id), class: 'btn btn-success btn-sm' %>

          <% else %>

             You do not have permission to view this collaborator.   
          <% end %>  
        
         <%# if user.collaborators.is_owner_of? @wiki %>
             <%#= link_to "Owner", class: 'btn btn-success' %>
              <%#= link_to 'Remove', wiki_collaborator_path(@wiki,collaborator ), method: :delete, confirmation: 'Are you sure?', class: 'btn btn-warning btn-sm' %>
      <% end %>
        </li>
      </ul>
    <%# end %>
   

     
      <% #@collaborators.each do |collaborator| %> 
      
          <%#= @wiki.user.email %>
      
            <% #elsif user.is_a_collaborator? @wiki %> 
            <% #elsif user.collaborators.find_by_wiki_id(@wiki.id)%>
            
            <%# else %>
            <%#= link_to 'Add', new_wiki_collaborator_path(@wiki, user_id: current_user.id), class: 'btn btn-success btn-sm' %>
            

      
  <div>
    <%= link_to " Back to Wikis", wikis_path, class: 'btn btn-success'  %>
  </div>

  

