<h1> Add Collaborator </h1>
   <%= form_for [ @wiki, @collaborator] do |form| %>
     <%#= form.label :name %>
     <%#= form.text_field :email %>
     <p>
     Add collaborator <%= @user %> to wiki <%= @wiki.title %> ?
     <%#= form.wiki_id hidden:true %>
     <%#= form.user_id hidden:true %>
   </p>
     <div>
      <%= form.submit %>
     </div>
 <% end %>
     
