<h1> Collaborator list </h1>

  Should be  list of  collaborators on the specific wiki eventually?  
  <%#code for list of  collaborators per wiki %>
  <div>
    <%= link_to " Back to Wikis", wikis_path, class: 'btn btn-success'  %>
  </div>

 

