<h1> Collaborator list </h1>

  <ul>
      <% @users.all.each do |user| %> 
        <li>
          <%if @wiki.collaborator(@wiki) do  %>
            <%= user.email %>
            <%= link_to 'remove', new_wiki_collaborator_path(@wiki, user_id: current_user.id), class: 'btn btn-success btn-sm' %>
           <% end %>    
  
  <div>
    <%= link_to " Back to Wikis", wikis_path, class: 'btn btn-success'  %>
  </div>

 

