<h1>About Collabopedia</h1>
<p>Created by : Alli Vaughn and  my  mentor at Bloc.</p>
<p>Collabopedia is a Saas Wikipedia-like Application designed to allow users to collaboratively work and  share ideas.  </p>


