<h1>Wiki Confabs</h1>
<% @wikis.each do |wiki| %>
  <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to wiki.title, wiki %>
       </h4>
        <small>
          submitted by <%= wiki.user.email %> <%= time_ago_in_words(wiki.created_at) %> ago
        </small>

     </div>
   </div>
<% end %>

