<h1><%= markdown @wiki.title %></h1>
  <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
  <%= link_to "Collaborators",  wiki_collaborator_path(@wiki), class: 'btn btn-default' %>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown @wiki.body %></p>
 </div>
